flows (5).json
[{"id":"95a59a22.c01938","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"115c56f3.40e319","type":"debug","z":"95a59a22.c01938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":140,"wires":[]},{"id":"913c51e4.e3a8e","type":"function","z":"95a59a22.c01938","name":"temperature","func":"var temp = global.get(\"temperature\")\nmsg.payload = temp\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":40,"wires":[["115c56f3.40e319","60458652.7a9448"]]},{"id":"62fa17d3.c842f8","type":"function","z":"95a59a22.c01938","name":"humidity","func":"var hum = global.get(\"humidity\")\nmsg.payload= hum\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["115c56f3.40e319","a2d5af4a.ed0dc"]]},{"id":"3d3c5220.602fbe","type":"http in","z":"95a59a22.c01938","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":200,"y":820,"wires":[["548f6f17.238d4"]]},{"id":"46e882dd.d7333c","type":"http response","z":"95a59a22.c01938","name":"","statusCode":"","headers":{},"x":530,"y":820,"wires":[]},{"id":"47e19d94.41a0c4","type":"function","z":"95a59a22.c01938","name":"global setting","func":"global.set(\"temperature\",msg.payload.d.temperature)\nglobal.set(\"humidity\",msg.payload.d.humidity)\nglobal.set(\"objectTemp\",msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":100,"wires":[[]]},{"id":"548f6f17.238d4","type":"http request","z":"95a59a22.c01938","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&appid=9419715a90a9a9f4e15658612d28823e","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":820,"wires":[["46e882dd.d7333c"]]},{"id":"97a4939f.bb0c4","type":"ui_button","z":"95a59a22.c01938","name":"","group":"76c76e21.0f5e3","order":3,"width":"0","height":"0","passthru":true,"label":"Motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Motoron\"}","payloadType":"json","topic":"","x":600,"y":320,"wires":[["90295d77.055aa","115c56f3.40e319","f85c49be.04e068"]]},{"id":"d50447a5.3e1108","type":"ui_button","z":"95a59a22.c01938","name":"","group":"76c76e21.0f5e3","order":4,"width":"0","height":"0","passthru":true,"label":"Motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Motoroff\"}","payloadType":"json","topic":"","x":600,"y":400,"wires":[["90295d77.055aa","115c56f3.40e319","52d49ac4.2e9de4","19a9c4cd.10d84b"]]},{"id":"90295d77.055aa","type":"ibmiot out","z":"95a59a22.c01938","authentication":"apiKey","apiKey":"9d16e6e7.48e238","outputType":"cmd","deviceId":"54321","deviceType":"output","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":920,"y":480,"wires":[]},{"id":"d096a1b7.87cf5","type":"ibmiot in","z":"95a59a22.c01938","authentication":"apiKey","apiKey":"9d16e6e7.48e238","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456789","applicationId":"","deviceType":"node","eventType":"+","commandType":"Data","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":140,"wires":[["62fa17d3.c842f8","913c51e4.e3a8e","47e19d94.41a0c4","115c56f3.40e319","a3e368e9.a4dc08"]]},{"id":"ffb6282c.8f0438","type":"http request","z":"95a59a22.c01938","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&appid=9419715a90a9a9f4e15658612d28823e","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":360,"wires":[["db9a9f79.5414c","6d8b207b.2b611","5880317d.54862","2dd63949.e3cb86"]]},{"id":"db9a9f79.5414c","type":"debug","z":"95a59a22.c01938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":360,"wires":[]},{"id":"8b5de15f.572a7","type":"inject","z":"95a59a22.c01938","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["ffb6282c.8f0438"]]},{"id":"6d8b207b.2b611","type":"change","z":"95a59a22.c01938","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":460,"wires":[["c06eddeb.0b3e1"]]},{"id":"5880317d.54862","type":"change","z":"95a59a22.c01938","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":540,"wires":[["a0a19a70.fdd3a8"]]},{"id":"c06eddeb.0b3e1","type":"ui_text","z":"95a59a22.c01938","group":"574eb8c6.7840d8","order":0,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":460,"wires":[]},{"id":"a0a19a70.fdd3a8","type":"ui_text","z":"95a59a22.c01938","group":"574eb8c6.7840d8","order":1,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":540,"wires":[]},{"id":"52d49ac4.2e9de4","type":"ui_text","z":"95a59a22.c01938","group":"76c76e21.0f5e3","order":5,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":320,"wires":[]},{"id":"19a9c4cd.10d84b","type":"function","z":"95a59a22.c01938","name":"output","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":400,"wires":[["52d49ac4.2e9de4"]]},{"id":"f85c49be.04e068","type":"function","z":"95a59a22.c01938","name":"output","func":"msg.payload=msg.payload[\"command\"]\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":320,"wires":[["52d49ac4.2e9de4"]]},{"id":"a3e368e9.a4dc08","type":"function","z":"95a59a22.c01938","name":"object temperature","func":"var obj=global.get(\"objectTemp\")\nmsg.payload=obj\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["199c3633.8e1d3a"]]},{"id":"199c3633.8e1d3a","type":"ui_gauge","z":"95a59a22.c01938","name":"","group":"64165c62.5928b4","order":2,"width":0,"height":0,"gtype":"gage","title":"object temperature","label":"celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":100,"wires":[]},{"id":"60458652.7a9448","type":"ui_gauge","z":"95a59a22.c01938","name":"","group":"a0882512.82cbc8","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"celcius","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":40,"wires":[]},{"id":"a2d5af4a.ed0dc","type":"ui_gauge","z":"95a59a22.c01938","name":"","group":"9c51d69a.04a8b8","order":0,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":240,"wires":[]},{"id":"2dd63949.e3cb86","type":"change","z":"95a59a22.c01938","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":600,"wires":[["94a62cad.7a0f3"]]},{"id":"94a62cad.7a0f3","type":"ui_text","z":"95a59a22.c01938","group":"574eb8c6.7840d8","order":4,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":600,"wires":[]},{"id":"76c76e21.0f5e3","type":"ui_group","z":"","name":"motor","tab":"1a9d2dc1.cc1232","order":1,"disp":true,"width":"12","collapse":false},{"id":"9d16e6e7.48e238","type":"ibmiot","z":0,"name":"","keepalive":"60","serverName":"6xj285.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"574eb8c6.7840d8","type":"ui_group","z":0,"name":"Parameters","tab":"fbd2471b.6b8c68","order":1,"disp":true,"width":"6","collapse":false},{"id":"64165c62.5928b4","type":"ui_group","z":"","name":"Object temperature","tab":"85886a93.b7cd78","order":3,"disp":true,"width":"6","collapse":false},{"id":"a0882512.82cbc8","type":"ui_group","z":"","name":"Temperature","tab":"85886a93.b7cd78","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c51d69a.04a8b8","type":"ui_group","z":"","name":"Humidity","tab":"85886a93.b7cd78","order":2,"disp":true,"width":"6","collapse":false},{"id":"1a9d2dc1.cc1232","type":"ui_tab","z":"","name":"Motor status","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fbd2471b.6b8c68","type":"ui_tab","z":0,"name":"City","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"85886a93.b7cd78","type":"ui_tab","z":"","name":"Field","icon":"dashboard","order":1,"disabled":false,"hidden":false}]